#inflation-main{
  width: 55% !important;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(92,196,160,1) 100%); /* w3c */
}

#inflation-head,
.inflation-box{
  margin: auto !important;
  text-align: center;
  color: white;
  padding-top: 5% !important;
}

.inflation-box{
  width: 55% !important;
  height: 100vh;
}

.yearFormDiv{
  height: 45px;
  border-radius: 15px;
  border: 1px solid white;
}


.yearDropDown{
  float: left!important;
  padding: 3% 2% !important;
  width: 30% !important;
  font-size: 90% !important;
  position: relative;
  border-radius: 15px 0px 0px 15px !important;
}

.showMenu-btn{
  background: transparent !important;
  border: none !important;
  text-align: left;
}

#dropdown-arrow{
  width: 15% !important;
  margin-left: 10px !important;
  z-index: 5;
}
.yearMenu{
  position: absolute;
  width: 60% !important;
  z-index: 5;
}

.year-ul{
  height: 75px;
  overflow-y: scroll;
  list-style-type: none;
  border-radius: 5px;
  display: none;
  background: #1F78B4;
  color: white;
  font-size: 75% !important;
  padding: 15% 0px !important;
}

li{
  margin-bottom: 15% !important;
}


#dollarInput{
  float: left;
  width: 70% !important;
  padding: 3.2% 0;
  border: none;
  background: transparent !important;
  font-size: 90% !important;
  border-radius: 0px 15px 15px 0px;
  /*border: 1px solid white;*/
}

input:focus{
  outline: none !important
}
input::placeholder{
  color: white;
}

@media only screen and (max-width: 414px) {

  #inflation-main{
    width: 65% !important;
  }

  .inflation-box{
    width: 80% !important;
  }

  .yearFormDiv{
    height: 25px;
  }
  .yearDropDown{
    width: 35% !important;
    padding: 1% 2% !important;
  }
  .showMenu-btn{
    font-size: 65% !important;
  }
  #dropdown-arrow{
    margin-left: 6px !important;
  }

  .year-ul{
    font-size: 65% !important;
  }

  #dollarInput{
    width: 65% !important;
    font-size: 65% !important;
    padding-top: 5% !important;
  }

}

@media only screen and (max-width: 800px) {

  .showMenu-btn{
    /*padding-left: 20% !important;*/
    font-size: 60% !important;
  }
  .yearFormDiv{
    height: 30px;
  }
}
