
<!--<button class="btn btn-danger" (click)="showResult()">Open</button>-->
<div id="inflation-main">
  <h4 id="inflation-head">Welcome To
    Inflation Calculator</h4>
  <div class="inflation-box">
    <div class="dollarThen-div" *ngFor="let box of inputBox let i = index">
      <form>
        <div class="form-group yearFormDiv">
          <div class="yearDropDown">
            <button type="button" class="showMenu-btn" (click)="showMenu(i)">
              Year<span><img id="dropdown-arrow" src="./assets/img/lists.svg"></span>
            </button>
            <div class="yearMenu">
              <ul class="year-ul">
                <li *ngFor="let year of years">{{year}}</li>
              </ul>
            </div>
          </div>
          <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="dollarInputClass" id="dollarInput"
                 placeholder="$$$$" name="dollarThen" ngModel="dollarThen">
        </div>
      </form>
    </div>
  </div>
</div>

