<div class="main-home-page">
    <div class="home-page-row">
      <div class="left-home-page">
        <div id="thin-line"></div>
        <div id="home-page-title">
          <h1 id="title-heading">Welcome To HomePage</h1>
          <p id="title-sub-heading">This is where my blog journey begins, this is mainly for passive income</p>
        </div>
        <div class="option-btn-section">
          <div class="option-btn-col1">
            <button class="form-control btn-option1"><a id="btn-anchor" href="https://github.com/alfie08th?tab=repositories">Code</a></button>
          </div>
          <div class="option-btn-col2">
            <button class="form-control btn-option2"><a id="btn-anchor2" href="https://www.linkedin.com/in/alfie08th/">More</a></button>
          </div>
        </div>
      </div>
      <div class="right-home-page">
        <img id="home-page-img" src="assets/img/comp.png">
      </div>
    </div>
</div>



